<div class="wraper">
  <ul>
    <li 
      [ngClass]="{'positive': item.save, 'negative': !item.save}" 
      class="stat-item" 
      *ngFor='let item of statistic; index as i;'
    >
      <div class="month">{{parseDate(item.date)}}</div>
      <div class="amount">{{item.amount}}</div>
      <div class="positive">{{item.positiveAreas}}</div>
      <div class="negative">{{item.negativeAreas}}</div>
    </li>
  </ul>
</div>

<div [ngClass]="{'positive': countTotal() < 0, 'negative': countTotal() > 0}" class="result">
  <p>Всего за {{statistic.length}} месяцев {{countTotal()}} грн</p>
</div>